/* #1F2B6C */
/* #159EEC */
/* BFD2F8 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Yeseva One', serif;
}

.logo{
    text-decoration: none;
    font-size: 20px; 
    font-family: 'Yeseva One', serif;
    font-weight: 60px;
    color: black;
    display: flex;
    justify-items: flex-start;
}
   
    
    
.comb-logo{
    display: flex;

    margin-right: 90px;
}
/* section header {
    /* width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly; */
    /* gap: 20vw;
} */ 

/* .section1{
    display: flex;
    justify-content:space-around;
    align-items: center;
} */


.primary-line{
    color: #1F2B6C;
    font-family: 'Yeseva One', serif;
}

.header{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 25vw;
    /* flex-wrap: wrap-reverse; */
}
section{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    /* gap: 20px; */
}


nav{
width: 100%; 
height: 90px;
display: flex;
align-items: center;
justify-content: space-between;
}

/* .section1{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 20px;
} */

.headbutton{
    display: flex ;
}

.headbutton .icon{
    gap :16px;

}
.navitems a{
    text-decoration: none; 
    color:#BFD2F8; 
    font-size: 14px; 
    font-family: 'Work Sans', sans-serif;
    /* font-weight: 500; */
}

.navitems{
    display: flex;
    align-items: center;
    gap: 25px;

}

.nav2{
background-color: #1F2B6C;
width: 100%; 
height: 56px;
display: flex;
align-items: center;
justify-content: space-evenly;
/* padding: 6vw; */
}

.button{
    background-color: #BFD2F8;
    font-family: 'Work Sans', sans-serif;
    color: #1F2B6C;
    font-size: 14px; 
    font-weight: 70vw;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
}


.header1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8vw;
    color: #1F2B6C;
    font-family: 'Work Sans', sans-serif;
}

.hero h1{
    color: #1F2B6C;
    font-family: 'Yeseva One', serif;
    font-size: 48px;
}

/* .hero .secondary-color{
   font-family: 'Work Sans', sans-serif;
   color: #159EEC ;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2.88px;
} */

.headbutton h5{

    font-weight: 520;
    font-family: 'Work Sans', sans-serif;
}

.headbutton h6{
    color:#159EEC;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word
}
.overlay-text{
    position: absolute;
    padding-left: 6vw;
}


.hero{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* padding-left: 2vw; */
}

.secondary-color{
    font-family: 'Work Sans', sans-serif;
   color: #159EEC ;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2.88px;
}
 .section2{
    padding: 2vw;
    margin: 2vw;
    text-align: center;
 }

 @media only screen and (max-width: 600px) {
    body {
        margin: 4px;
    }
  }